/node_modules
/.eslintcache
.env
/dist

/.nyc_output
/coverage--e2e
/cypress/downloads/*
!/cypress/downloads/.gitkeep
/cypress/screenshots/*
!/cypress/screenshots/.gitkeep
/cypress/videos/*
!/cypress/videos/.gitkeep
